.buttons-container{
    display: flex;
}

.buttons-container button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #34e5eb;
    border: 0;
    cursor: pointer;
}

a + a{
    margin-left: 20px;
}